body {
background: #EAF5FE;
background: color(display-p3 0.925 0.961 0.992);
display: grid;
grid-template-rows: 10% 80% 10%;
height: 100vh;
width: 100vw;
font-size: 14px;
}
header {
    width: auto;
    background: #D8C5FD;
    background: color(display-p3 0.835 0.776 0.976);
}
nav {
    display: inline-flex;
}
main {
    width:auto;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    height: 100%;
    width: auto;
}
.ramka {
    width: 25vw;
    height: 40vh;
    background: #FAF1FC;
    background: color(display-p3 0.973 0.945 0.984);
    border-radius: 20px;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.2), 2px 2px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;

    
}
.form {
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    background: #E3E5DE;
    background: color(display-p3 0.890 0.898 0.875);
    align-items: center;
    display: flex;
    padding: 0px 15px;
    gap: 10px;
    max-height: 30%;
}
.input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    font-family: inherit;
}
.button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-color: #928e99;
    color: rgb(29, 20, 20);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease;
    width: 80%;
    height: auto;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2);
    min-height: 6vh;
}

.button:hover {
    color: antiquewhite;
}
.label {
    width: 100%;
    height: auto;
}
@font-face {
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    font-variation-settings:
    "wdth" 100;
    font-dispaly: swap;
    src: url(Roboto-Italic.woff2) format(woff2);
}
body {
    font-family: "Roboto", sans-serif;
}
@media (max-width: 840px) {
    .ramka {
        width: 70vw;
    }
    .button {
        max-width: 80%;
    }
}
@media (max-height: 480px) {
     .ramka {
        width: 70vw;
        height: 60vh;
    }
    .button {
        max-width: auto;
    }
}
@media (min-width: 1440px) {
    .form {
        height: 15%;
    }
    label {
        font-size: 1.5rem;
    }
    .button {
        font-size: 1.2rem;
    }

}
